/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* Universal styles */

:root {
  --blue: #1a8ddd;
  --green: #35ddb3;
  --yellow: #dddc61;
  --orange: #dd6844;
  --purple: #8f71dd;
  --grey: #dddddd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

p {
  color: #333;
  padding-left: 0px;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 0px;
}

.text-white {
  color: white;
}

.text-grey {
  color: #9b9b9b;
}

/* Bar chart styling */

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  width: 30px;
  background-color: #ffffff;
  color: #333;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  line-height: 1.2;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  bottom: 106%;
  left: 50%;
  margin-left: -25px;
  font-size: 0.75em;
  visibility: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: 75%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.6s;
  border-color: #ffffff transparent transparent transparent;
  visibility: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}

.chart {
  display: flex;
  height: 30px;
}

.charts-wrapper > div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.charts-wrapper h5 {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.bar {
  height: 100%;
}
.bar:nth-child(1) {
  background-color: var(--blue);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.bar:nth-child(2) {
  background-color: var(--green);
}
.bar:nth-child(3) {
  background-color: var(--yellow);
}
.bar:nth-child(4) {
  background-color: var(--orange);
}
.bar:nth-child(5) {
  background-color: var(--purple);
}
.bar:nth-child(6) {
  background-color: var(--grey);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.topic-heading {
  margin-top: 50px;
  margin-bottom: 30px;
}

.key-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  width: 100%;
}

.key-item {
  display: flex;
  align-items: center;
}

.square {
  width: 12px;
  height: 12px;
  display: block;
  transform: rotate(45deg);
  margin-right: 10px;
}

.adherence {
  background-color: var(--blue);
}
.combination {
  background-color: var(--green);
}
.dosing {
  background-color: var(--yellow);
}
.guidelines {
  background-color: var(--orange);
}
.safety {
  background-color: var(--purple);
}
.other {
  background-color: var(--grey);
}

/* Main body styles */

#main {
  transition: margin-left 0.5s;
  padding: 5% 7% 5% 7%;
}

.refresh {
  height: 50px;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.refresh::before {
  content: "Randomise";
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details-section {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  max-width: 400px;
  justify-content: space-between;
}

.hero-heading {
  font-size: 2.5rem;
}

.donut-random {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  background-color: #f68b15;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 26px;
  transition: 0.3s ease-in-out;
}

.donut-random:hover {
  background-color: #f4a755;
  transition: 0.3s ease-in-out;
}

/* Sidebar styles */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.show {
  width: 20%;
}

.sidenav a,
h3,
.name {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  background-color: rgb(235, 235, 235);
  color: #333;
}

.active {
  background-color: rgb(235, 235, 235);
  color: #333;
}

.menu-section {
  padding-bottom: 2rem;
}

/* Burger styles */

.burger-box {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.3s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -9px);
  transform: rotate(45deg) translate(-10px, -9px);
}

/* Donut styles */

.donut-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-chart__circle {
  animation: circle-chart-fill 1s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1);
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

#toggle {
  display: none;
}

/* Mobile styles */

@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
    width: 0px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #toggle {
    display: block;
  }

  .col {
    width: 100%;
  }

  .calls > .col:nth-child(2) {
    margin-top: 30px;
  }

  .key-wrapper {
    column-gap: 20px;
    row-gap: 20px;
  }

  #main {
    padding: 6%;
  }
}

/* Tablet portrait */

@media (min-width: 501px) and (max-width: 961px) {
  #main {
    padding: 8%;
  }
  .calls {
    column-gap: 30px;
    flex-wrap: wrap;
  }
  .col {
    width: 100%;
  }
  .calls > .col:nth-child(2) {
    margin-top: 30px;
  }
}
