/* ----------------------------------------------- */
/* CSS Reset */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------- */
/* Imports */
/* ----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

/* ----------------------------------------------- */
/* Universal styles */
/* ----------------------------------------------- */

:root {
  --blue: #1a8ddd;
  --green: #35ddb3;
  --yellow: #dddc61;
  --orange: #dd6844;
  --purple: #8f71dd;
  --grey: #dddddd;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

p {
  color: #333;
  padding-left: 0px;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 0px;
}

.text-white {
  color: white;
}

.text-grey {
  color: #9b9b9b;
}

/* ----------------------------------------------- */
/* Bar chart styling */
/* ----------------------------------------------- */

.key-wrapper {
  display: flex;
  gap: 50px;
}

.key-item {
  display: flex;
  align-items: center;
}

.square {
  width: 12px;
  height: 12px;
  display: block;
  transform: rotate(45deg);
  margin-right: 10px;
}

.adherence {
  background-color: var(--blue);
}
.combination {
  background-color: var(--green);
}
.dosing {
  background-color: var(--yellow);
}
.guidelines {
  background-color: var(--orange);
}
.safety {
  background-color: var(--purple);
}
.other {
  background-color: var(--grey);
}

/* ----------------------------------------------- */
/* Main body styles */
/* ----------------------------------------------- */

#main {
  transition: margin-left 0.5s;
  padding: 2% 3% 2% 3%;
}

.calls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.details-section {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  max-width: 400px;
  justify-content: space-between;
}

/* ----------------------------------------------- */
/* Sidebar styles */
/* ----------------------------------------------- */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.show {
  width: 20%;
}

.sidenav a,
h3,
.name {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #9e9e9e;
}

.menu-section {
  padding-bottom: 2rem;
}

/* ----------------------------------------------- */
/* Burger styles */
/* ----------------------------------------------- */

.burger-box {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.9s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ----------------------------------------------- */
/* Donut styles */
/* ----------------------------------------------- */

.donut-wrapper {
  display: flex;
  justify-content: center;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----------------------------------------------- */
/* Mobile styles */
/* ----------------------------------------------- */

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 0px;
  }
  .sidenav a {
    font-size: 18px;
  }

  #toggle {
    display: block;
  }

  .col {
    width: 100%;
  }

  .calls > .col:nth-child(2) {
    margin-top: 30px;
  }

  .key-wrapper {
    gap: 20px;
    flex-wrap: wrap;
  }
}
