/* ----------------------------------------------- */
/* CSS Reset */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------- */
/* Imports */
/* ----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

/* ----------------------------------------------- */
/* Sidebar styles */
/* ----------------------------------------------- */

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.show {
  width: 20%;
}

.sidenav a,
h3,
p {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #9e9e9e;
}

.menu-section {
  padding-bottom: 2rem;
}

/* ----------------------------------------------- */
/* Burger styles */
/* ----------------------------------------------- */

.burger-box {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.9s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ----------------------------------------------- */
/* Universal styles */
/* ----------------------------------------------- */

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

h3 {
  margin-bottom: 0px;
}

.text-white {
  color: white;
}

.text-grey {
  color: #9b9b9b;
}

/* ----------------------------------------------- */
/* Main body styles */
/* ----------------------------------------------- */

#main {
  transition: margin-left 0.5s;
  padding: 2% 3% 2% 3%;
}

.main-content-wrapper {
  margin-top: 1rem;
}

/* ----------------------------------------------- */
/* Generic styles */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* Mobile styles */
/* ----------------------------------------------- */

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 0px;
  }
  .sidenav a {
    font-size: 18px;
  }

  #toggle {
    display: block;
  }
}
